@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
$KG: "Kalnia Glaze";

@import url('https://fonts.gstatic.com/s/playwritecu/v1/VuJ2dNDb2p7tvoFGLMPdf9xGZDFft0s.woff2');

@font-face {
    font-family: 'Playwrite';
    src: url(https://fonts.gstatic.com/s/playwritecu/v1/VuJ2dNDb2p7tvoFGLMPdf9xGZDFft0s.woff2);
};

@font-face {
    font-family: $KG;
    src: url(https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap);
};

@font-face {
    font-family: "Spring";
    src: url("../../fonts/Spring.ttf") format('truetype'); // to use local font files, need to download and install it or else it will not show the custom font.
};

