// External fonts
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
$Dosin: 'Dosis';
$Montserrat: 'Montserrat';
$Quicksand: 'Quicksand';
$Rainbow: 'Kalnia Glaze';

// Local fonts
$Spring: 'Spring';
@font-face {
    font-family: $Spring;
    src: url("../../fonts/Spring.ttf") format('truetype'); // to use local font files, need to download and install it or else it will not show the custom font.
};

