@use "./partials/typography" as *;

body {
    font-size: 16px;
    font-family: $KG;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

nav,
ul {
    list-style: none;
    color: yellow;
    font-family: "Playwrite";
}

header nav div ul li:not(:first-of-type) > a:hover {
    background-color: black;
    color: white;
}

footer {
    font-family: "Spring";
    color: red;
}